<dev class="container">
  <dev class="row">
    <div style="position: relative; display:inline-block; margin-left: 550px;">
      <%= image_tag '2064245_s.jpg', :size =>'550x300' %>
      <div style="position: absolute; top: 50px; left: 100px; max-width: 100%; max-height: 100%; padding: 30px; text-align: left;">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケ－キ販売のECサイトになります。<br>
          会員でない方も商品の閲覧は出来ますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
      </div>
    </div>
  </dev>
</dev>
<div class="container">
  <h3>新規商品</h3>
  <div class="row">
      <% @items.first(4).each do |item| %>
      <div class="flex col-md-3">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, :size =>'150x100' %>
          <p><%= item.name %></p>
          ￥<%= item.price.to_s(:delimited) %>
        <% end %>
      </div>
      <% end %>
  </div>
  <div class="text-right"><%= link_to "全ての商品を見る＞",  items_path %></div>
</div>

