<div class="container">
  <h3 style="width: 25%; text-align: center; margin: 40px 60px; background: #EEEEEE">配送先登録/一覧</h3>
  <div class="row">
    <table>
      <div class="col-md-3">
        <div style="margin: 20px;">郵便番号(ハイフンなし)</div>
        <div style="margin: 20px;">住所</div>
        <div style="margin: 20px;">宛名</div>
      </div>
      <div class="col-md-8">
        <%= form_with model: @addresses,url: addresses_path,method: :post do |f| %>
          <div style="margin: 20px;">
            <%= f.text_field :postal_code %>
          </div>
          <div style="margin: 20px;">
            <%= f.text_field :address, size: 46 %>
          </div>
          <div style="margin: 20px;">
            <%= f.text_field :name %>
            <label>　　　　　　　　　　　　</label>
            <a style="padding:10px 20px;"><%= f.submit '新規登録', class:"btn btn-sm btn-success", style:"padding:1px 20px;" %></a>
          </div>
        <% end %>
      </div>
    </table>
  </div>
  <dev class="row">
    <table border="1">
      <div>
          <tr style="background: #EEEEEE">
            <th style="padding: 10px;">郵便番号</th>
            <th style="padding: 10px;">住所</th>
            <th style="padding: 10px;">宛名</th>
            <th></th>
          </tr>
          <% @addressess.each do |addressess| %>
            <tr>
              <td style="padding: 10px;"><%= addressess.postal_code %></td>
              <td style="padding: 10px;"><%= addressess.address %></td>
              <td style="padding: 10px;"><%= addressess.name %></td>
              <td style="padding: 10px 30px;">
                <%= link_to "編集する", edit_address_path(addressess.id), class:"btn btn-success"  %>
                <%= link_to "削除する", address_path(addressess.id), method: :delete, class:"btn btn-danger"  %>
              </td>
            </tr>
          <% end %>
      </div>
    </table>
  </dev>
</div>