<div class="container">
  <h3 style="width: 25%; text-align: center; margin: 40px 60px; background: #EEEEEE">配送先登録/一覧</h3>
  <div class="row">
    <table>
      <div class="col-md-3">
        <div style="margin: 20px;">郵便番号(ハイフンなし)</div>
        <div style="margin: 20px;">住所</div>
        <div style="margin: 20px;">宛名</div>
      </div>
      <div class="col-md-8">
        <%= form_with model: @addresses,url: addresses_path,method: :post do |f| %>
          <div style="margin: 20px;">
            <%= f.text_field :postal_code %>
          </div>
          <div style="margin: 20px;">
            <%= f.text_field :address, size: 46 %>
          </div>
          <div style="margin: 20px;">
            <%= f.text_field :name %>
            <label>　　　　　　　　　　　　</label>
            <a style="padding:10px 20px;"><%= f.submit '新規登録', class:"btn btn-sm btn-success" %></a>
          </div>
        <% end %>
      </div>
    </table>
  </div>
  <dev class="row">
    <table>
      <div class="col-md-2">
        <% @addressess.each do |addressess| %>
          <tr>
            <td>郵便番号</td>
            <td>住所</td>
            <td>宛名</td>
            <td></td>
          </tr>
          <tr>
            <td><%= addressess.postal_code %></td>
            <td><%= addressess.address %></td>
            <td><%= addressess.name %></td>
            <td><%= addressess.postal_code %></td>
          </tr>
        <% end %>
      </div>
    </table>
  </dev>
</div>