<div class="container">
  <h3 style="width: 35%; text-align: center; margin: 30px 15px; background: #EEEEEE">
    <%= @customers.last_name %><%= @customers.first_name %>さんの会員詳細
  </h3>
  <div class="row">
    <table>
      <div class="col-md-2">
        <div style="margin: 20px;">会員ID</div>
        <div style="margin: 20px;">名前</div>
        <div style="margin: 20px;">フリガナ</div>
        <div style="margin: 20px;">郵便番号</div>
        <div style="margin: 20px;">住所</div>
        <div style="margin: 20px;">電話番号</div>
        <div style="margin: 20px;">メールアドレス</div>
        <div style="margin: 20px;">会員ステータス</div>
      </div>

      <div class="col-md-5">
        <%= form_with model: @customers,url: admins_customer_path(@customers.id), method: :patch do |f| %>
          <div style="margin-top: 20px;"><%= @customers.id %></div>
          <div style="margin-top: 15px;">
            <%= f.text_field :last_name %>
            <%= f.text_field :first_name %>
          </div>
          <div style="margin-top: 15px;">
            <%= f.text_field :last_name_kama %>
            <%= f.text_field :first_name_kana %>
          </div>
          <div style="margin-top: 15px;"><%= f.text_field :postal_code %></div>
          <div style="margin-top: 15px;"><%= f.text_field :address %></div>
          <div style="margin-top: 15px;"><%= f.text_field :telephone_number %></div>
          <div style="margin-top: 15px;"><%= f.text_field :email %></div>
          <div style="margin-top: 18px;">
            <%= f.radio_button :is_active, false, :checked => "checked" %>
            <label>有効</label>
            <%= f.radio_button :is_active, true %>
            <label>退会</label>
          </div>
          <div class="form-group">
            <%= f.submit '変更を保存', class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </table>
  </div>
</div>
