<div class="container">
  <h3 style="width: 11%;  text-align: center; margin-top: 15px; background: #EEEEEE">商品一覧</h3>
  <div class="text-right ">
    <%= link_to "+", new_admins_item_path, class: 'text_light  margin: 15px; ' %>
  </div>
  <div class="center-block">
    <table calss=" table table-hover table-inverse">
        <thead>
          <tr style=" background: #EEEEEE">
            <th style="width: 20%;  border: 1px;">商品ID</th>
            <th style="width: 20%;  border: 1px;">商品名</th>
            <th style="width: 20%;  border: 1px;">税抜価格</th>
            <th style="width: 20%;  border: 1px;">ジャンル</th>
            <th style="width: 20%;  border: 1px;">ステータス</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td style=text a:link{text-decoration:underline;}>
              <%= link_to <div class="form-group">
          <label for="book_title">Title</label>
          <%= f.text_field :title %>
        </div>_path(item.id), class: 'text_light' do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_active %>
              <td style="color:green; font-weight:bold;">販売中</td>
            <% else %>
              <td style="color:gray; font-weight:bold;">販売停止中</td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>