<h3 style="width: 25%; text-align: center; margin: 40px 60px; background: #EEEEEE">ショッピングカート</h3>
<dev class="container">
    <div class="row" style="margin: 0px 30px;">
        <table>
            <tr class="col-md-3" style="margin: 30px 0px;">
                <td>商品名</td>
                <td>単価（税込み）</td>
                <td>数量</td>
                <td>小計</td>
                <td></td>
            </tr>
            <% @cart_items.each do |f| %>
                <tr>
                    <td>
                        <%= image_tag f.item.image, :size => '50x40' %>
                        <%= f.item.name %>
                    </td>
                    <td><%= f.item.add_tax_price.to_s(:delimited) %></td>
                    <td>
                        <%= form_with model: f, url:cart_item_path(f), method: :patch do |c| %>
                            <%= c.select :amount, (1..10).to_a,size: 3, class: 'form-control' , required: true %>
                            <%= c.submit '変更', class:"btn btn-sm btn-success" %>
                        <% end %>
                    </td>
                    <td><%= f.sum_of_price.floor.to_s(:delimited) %></td>
                    <td><%= f.amount %></td>
                </tr>
            <% end %>
        </table>
    </div>
</dev>