<div class="container">
  <h3 style="width: 20%;  text-align: center; background: #EEEEEE">注文情報入力</h3>
  <div class="row">
    <table>
      <div class="col-md-10">
        <h4><b>支払い方法</b></h4>
        <div style="margin: 0px 20px;">
          <%= form_with model: @order,url: orders_path,method: :post do |f| %>
            <div>
              <%= f.radio_button :payment_method, 0, :checked => "checked" %>
              <label>クレジットカード</label>
            </div>
            <div>
              <%= f.radio_button :payment_method, 1 %>
              <label>銀行振込</label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-10">
        <h4><b>お届け先</b></h4>
        <div style="margin: 0px 20px;">
          <%= form_with model: @order_addresses,url: orders_path,method: :post do |f| %>
            <div style="margin: 10px 0px;">
              <%= f.radio_button :address, 0, :checked => "checked" %>
              <a>ご自身の住所</a><br>
              <div style="margin: 0px 30px;">
                <a>
                  〒<%= current_customer.postal_code %>
                  <%= current_customer.address %>
                </a><br>
                <a><%= current_customer.last_name %><%= current_customer.first_name %></a>
              </div>
            </div>
            <div>
              <%= f.radio_button :address, 1 %>
              <label>銀行振込</label>
            </div>
            <div>
              <%= f.radio_button :address, 2 %>
              <label>銀行振込</label>
            </div>
          <% end %>
        </div>
      </div>
    </table>
  </div>
</div>