<div class="container">
  <h3 style="width: 15%; text-align: center; margin: 30px 30px; background: #EEEEEE">ログイン</h3>
  <h3 style="width: 40%; text-align: center; margin: 30px 60px; background: #EEEEEE">会員の方はこちらからログイン</h3>
  <div class="row text-center">
    <table class="mx-auto col-11 col-sm-10 col-lg-7">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tr>
          <td style="margin: 10px;">メールアドレス</td>
          <td style="padding: 10px;"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 55 %></td>
        <tr>
          <td style="margin: 10px;">パスワード</td>
          <td style="padding: 10px;">
            <%= f.password_field :password, autocomplete: "current-password", size: 55 %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding: 20px 45px;" class="text-left"><%= f.submit "    ログイン    ", class:"margin-top: 20px; btn btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </table>
    <% render "public/shared/links" %>
  </div>
  <h3 style="width: 30%; text-align: center; margin: 30px 60px; background: #EEEEEE">会員登録がお済でない方</h3>
  <label style="margin: 0px 250px">
    <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
  </label>
</div>