<div class="container">
  <h3 style="width: 15%; text-align: center; margin: 30px 50px; background: #EEEEEE">ログイン</h3>
  <h3 style="width: 40%; text-align: center; margin: 30px 80px; background: #EEEEEE">会員の方はこちらからログイン</h3>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    
    
  </div>
</div>