<div class="container">
  <%= form_with model: @cart_item, url:cart_items_path, method: :post do |f| %>
  <div class="row" style="margin: 50px;">
    <table>
      <div class="col-md-4">
        <%= image_tag @items.image, :size => '250x250' %>
      </div>
      <div class="col-md-4" style="margin-left: 50px;" >
        <div>
          <h2><b><%= @items.name %></b></h2>
          <p style="margin-bottom: 50px;"><%= @items.introduction %></p>
          <h3 style="margin-bottom: 20px;">￥<%= @items.add_tax_price.to_s(:delimited) %>(税込)</h3>
        </div>

        <div>
          <%= f.hidden_field :item_id, :value => @items.id %>
          <%= f.select :amount, (1..10).to_a, { include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
          <%= f.submit 'カートに入れる', class:"btn btn-sm btn-success" %>
        </div>
      </div>
    </table>
  </div>
  <% end %>
</div>